# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Local Firebase Functions configuration
.env*
!.env.example
.runtimeconfig.json